button {
  border: none;
  cursor: pointer;
}

.home-button-bg {
  background-color: var(--home-button-bg);
  font-size: clamp(10px, 5vw, 2em);
  color: rgb(255, 245, 235);
}

.rounded {
  border-radius: 1em;
}

.padding-big {
  padding: 1em 3em;
}
